body {
  padding-top: 70px;
  padding-bottom: 30px;
}

label input[type="checkbox"] {
  margin: 0;
}

.date {
  font-family: monospace;
}

.btn-group, .btn-select-grp {
  margin-bottom: 20px;
}

.select-action {
  width: calc(100% - 45px);
  display: inline-block;
}
